@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
  font-family: 'Margarine', cursive;
}

.dark--mode {
  background-color: #6330CE;
}

.navbar {
  background-color: #6330CE !important;
}

.navbar-brand {
  font-size: 40px;
  color: white !important;
}

img {
  height: 40px
}

#currentUserMessages {
  margin-top: 100px
}

.large--text {
  font-size: 30px;
}  

.dark-card-mode {
  color: white;
  background-color: black;
}
.dark--mode {
  background-color: #6330CE;
}
